body{
    color:deeppink;
    text-align: center;
    font-family: "Courier";
}
#container{
    width: 70%;
    padding: 3em;
    text-align: left;
    border: 5px solid purple;
}

#container h1{
    font-size: 20px;
}